{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}Page Not Found!{% endblock %}

{% block content %}


<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'profile/images/bg/account_disabled_1920.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'profile/images/bg/account_disabled_1920.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'profile/images/bg/account_disabled_1920.jpg' %}); height:450px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>Page Not Found!</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->



<!--=================================
 error-->

<section class="page-section-ptb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                     <div class="error-block text-center clearfix">
                      <div class="error-text">
                        <h2>404</h2>
                        <span>Error </span>
                      </div>
                      <h1 class="theme-color mb-40">Ooopps :(</h1>
                      <p>The Page you were looking for couldn't be found.</p>
                   </div>
                    <div class="error-info">
                        <p class="mb-50">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                        <a class="button xs-mb-10 " href="{% url 'pages:home' %}">back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--=================================
 error-->

{% endblock %}

