{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="Coyote Lakes, Recreation Club, Coyote Lakes club, Surprise Clubs" />
        <meta name="description" content="Coyote Lakes Recreation Club is a resident-owned recreation club in Surprise,
        Arizona's Coyote Lakes neighborhood where members can enjoy full access to
        facilities to include swimming, tennis, outdoor grill area, pickle ball, and events." />
        <meta name="author" content="https://www.webfairydesign.com :: Marci Sprouse- Web Developer" />
        <meta property="og:image" content="{% static 'pages/images/bg/coyote_hero_1920x1080.jpg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}{% endblock %}</title>

        {% include "includes/favicons.html" %}
        {% include "includes/common_styles.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/clickcopy.css' %}" />

                        <!-- Style -->
        {% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-yellow.css' %}" />{% endblock %}
        {% include "includes/responsive_styles.html" %}

    </head>

    <body>
         <div class="wrapper">
            <header id="header" class="header default">
                {% include "includes/login_topbar.html" %}

                {% block navbar %}
                {% endblock %}

            </header>

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% include "includes/footer.html" %}
            {% endblock %}
        </div> <!-- end wrapper -->
        <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>



        {% include "includes/revolution_scripts.html" %}

        <!-- custom -->
        <script src="{% static 'pages/js/custom.js' %}"></script>
        <script src="{% static 'js/myfunction.js' %}"></script>
        <script src="{% static 'pages/js/jquery.ripples.js' %}"></script>
        <script src="{% static 'pages/js/ripples-custom.js' %}"></script>
        <script src="{% static 'pages/js/print_me.js' %}"></script>



    </body>
</html>
