<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Quick Notice</title>
  <meta name="description" content="">
  <meta name="author" content="">


</head>

<body>
<strong>Pool is Open</strong><br><br>
Notice:  Pool is open now through Friday PM.  Pool will be CLOSED Saturday and Sunday for concrete pour and will reopen on Monday.<br><br>

We will keep you posted and thanks for understanding!<br><br>

Your Rec Club Communications Team<br><br>

Email: <a href="listmanager@cylrc.org">listmanager@cylrc.org</a>
</body>
</html>
