{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}

{% block content %}
{% include "pages/page_title.html" %}
<section class="page-section-ptb">
    <div class="container mt-150">
        <div class="row">
            <div class="col-lg-12">
                <h1>{% trans "All galleries" %}</h1><br><br>
            </div>
        </div>

        {% if object_list %}
        {% for gallery in object_list %}
        <div class="row">
            <div class="col-lg-12">
                {% include "photologue/includes/gallery_sample.html" %}
            </div>
        </div><br><br>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-lg-12">{% trans "No galleries were found" %}.</div>
        </div>
        {% endif %}

        {% include "photologue/includes/paginator.html" %}
    </div>
</section>

{% endblock %}
