{% load static %}
        <!-- jquery -->
        <script src="{% static 'pages/js/jquery-3.6.0.min.js' %}"></script>

        <!-- plugin_path -->
        <script>var plugin_path = "{% static 'pages/js/' %}";</script>
        <!-- plugins-jquery -->
        <script src="{% static 'pages/js/plugins-jquery.js' %}"></script>

        <!-- REVOLUTION JS FILES -->
        <script src="{% static 'pages/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>

        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'pages/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <!-- revolution custom -->
        <script src="{% static 'pages/revolution/js/revolution-custom.js' %}"></script>
