{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load scheduletags %}
{% load phone %}
{% load chunk %}
{% block title %}Member Homes{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-olive.css' %}" />

{% endblock %}

{% block content %}


<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/balloons_bg.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/balloons_bg.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-color:Black; height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <p>{{ certificate.member_coyote_lakes_address.street_number }}&nbsp;{{ certificate.member_coyote_lakes_address.route }}<p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

<!--=================================
 service-->

<section class="blog white-bg page-section-ptb">
  <div class="container">
        <div class="col-md-12 mb-50">
            <a class="button x-small" href="{% url 'certificates:certificate_list' %}"><i class="fa fa-long-arrow-left"></i> Member Homes List</a>
        </div>

<!-- =========================================== -->


        <!-- content here -->

        <div class="row">
                        <div class="col-lg-12 col-md-12">


                            <div class="blog-entry mb-50">
                                <div class="entry-image clearfix">

                                      <img class="img-fluid" src="{% static 'pages/images/blue_bar.jpg' %}" alt="">

                                </div> <!-- end entry-image -->

                                <div class="blog-detail">
                                    <div class="entry-content">
                                        <p>Certificate Number:  {{ certificate.certificate_number }}</p>
                                        <br />
                                        <p>{{ certificate.member_coyote_lakes_address.street_number }}&nbsp;{{ certificate.member_coyote_lakes_address.route }}<p>
                                        <br />
                                        <div class="divider dotted"></div>
                                        <br />
                                        <br />
                                        <h4 class="mb-20"><strong>All Club Members in the Household:</strong></h4>
                                        {% for profile in all_members_list %}
                                            {% if certificate.member_coyote_lakes_address == profile.member_coyote_lakes_qualifying_address.member_coyote_lakes_address and profile.is_active_member %}
                                                {% if profile.exclude_member_coyote_lakes_address_from_site == False %}
                                                <p>
                                                    <a href="{% url 'userena_profile_detail' profile.user.username %}"><strong>{{ profile.user.get_full_name }}</strong></a><br>
                                                    <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a><br>
                                                    {{ profile.cell_phone|phone }}<br><br>
                                                </p>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}


                                {% if certificate.member_coyote_lakes_address.latitude and certificate.member_coyote_lakes_address.longitude %}
                                    {% if certificate.name_associated_with_certificate.is_a_landlord_with_transferred_membership == False %}
                                            <p style="font-size:1em;" class="mb-20">
                                                <strong>{{ certificate.member_coyote_lakes_address.street_number }}&nbsp;{{ certificate.member_coyote_lakes_address.route }}</strong><br>

                                                <svg width="20" height="20">
                                                <rect width="20" height="20" style="fill:#0011ff;stroke-width:3;stroke:rgb(0,0,0)" />
                                                </svg>
                                            </p>
                                    {% endif %}
                                    </div>
                                    <div class="entry-image clearfix">

                                            <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?center={{ certificate.member_coyote_lakes_address.latitude }},{{ certificate.member_coyote_lakes_address.longitude }}&zoom=18&scale=1&size=870x1200&maptype=roadmap&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff&key={{ api_key }}&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0011ff%7Clabel:%7C{{ certificate.member_coyote_lakes_address.latitude }},{{ certificate.member_coyote_lakes_address.longitude }}" alt="Google Map of {{ certificate.member_coyote_lakes_address.latitude }},{{ certificate.member_coyote_lakes_address.longitude }}">
                                    </div>
                                {% else %}
                                    </div> <!-- end entry content -->
                                {% endif %}


                                </div> <!-- end blog detail -->
                            </div> <!-- end blog entry div -->


                        </div>  <!-- end column -->

        </div>




   </div> <!-- end container -->
</section>
<!--=================================
 service-->








{% endblock %}

