{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load scheduletags %}
{% load minutes_tags %}
{% load chunk %}
{% block title %}Member Home Lookup{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-olive.css' %}" />{% endblock %}

{% block content %}


<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/balloons_bg.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/balloons_bg.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-color:Black; height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <p>Member Home Lookup</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->


<section class="blog white-bg page-section-ptb">
  <div class="container">
    <div class="row">
        <div class="col-lg-9">

                        {% if query %}
                            <h3>Homes containing "{{ query }}"</h3>
                            <br>
                            <br>

                            <h4>

                                Found {{ results_count|length }} result{{ results_count|length|pluralize }}...

                            </h4>
                            <br>
                            <br>
                            {% for certificate in results %}
                                {% if certificate.exclude == False %}
                                    <a style="text-decoration: underline; font-color:darkolivegreen;" href="{% url 'certificates:certificate_detail'  certificate.id %}"> <h6 class="pb-10">{{ certificate.member_coyote_lakes_address.street_number }}&nbsp;{{ certificate.member_coyote_lakes_address.route }}</h6></a>
                                    {% if certificate.name_associated_with_certificate %}{{ certificate.name_associated_with_certificate }}{% endif %}
                                    <div style="text-align:left; margin-left:0px;" class="divider medium"></div>
                                    <br>
                                    <br>
                                {% endif %}
                            {% empty %}
                              <p>There are no results for your query.</p>
                            {% endfor %}
                            <div class="action-box-button">
                                <a class="button mt-20" href="{% url "certificates:home_search" %}">
                                  <span>Search Again</span>
                                  <i class="fa fa-search"></i>
                               </a>&nbsp;&nbsp;&nbsp;&nbsp;OR&nbsp;

                                <a class="button mt-20" href="{% url "certificates:certificate_list" %}">
                                  <i class="fa fa-long-arrow-left"></i>
                                  <span>Back to Member Home List</span>

                               </a>
                            </div>

                        {% else %}
                            <h5><i class="fa fa-search"></i> Lookup all member homes by address or member name.</h5>
                            <br>
                            <form method="get">
                                    <div class="basic-form--border--round--row">
                                    {% for field in form %}
                                        <div class="field col-lg-12" style="margin-bottom:20px;">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                  {% csrf_token %}
                                  <input class="button mt-20" type="submit" value="Search">
                            </form>
                      {% endif %}

        </div> <!-- col lg 3 -->
<!-- ================================= -->
<!-- ================================= -->
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
