{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load minutes_tags %}
{% block title %}Board of Directors{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-red.css' %}" />{% endblock %}

{% block content %}

<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/meeting_minutes.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/meeting_minutes.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/meeting_minutes.jpg' %}); height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>Board Meeting Minutes</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'minutes:post_minutes_list' %}">All Meeting Minutes</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->


<!--=================================
 Blog-->

<section class="blog blog-single white-bg page-section-ptb">
  <div class="container">
    <div class="row">

        <div class="col-lg-9">
            <a class="button x-small" href="{% url 'minutes:post_minutes_list' %}"><i class="fa fa-long-arrow-left"></i> All Meeting Minutes</a><br><br><br>
    <!-- ================================================ -->
            <div class="blog-entry mb-50">
                  <div class="blog-detail">
                      <div class="entry-meta mb-10">

                          <ul>
                              <li> <h4><i class="fa fa-folder-open-o"></i> <strong>{{ post_minutes.title }}</strong></h4></li>
                          </ul>
                      </div>

                  </div>
            </div>

        <!-- ================================================ -->
        {% if post_minutes.video_url_link %}
              <div class="blog-entry blockquote mb-40 mt-40">
                <h6>Link to Video Recording:</h6>
                <a href="{{ post_minutes.video_url_link }}">{% if post_minutes.video_title %}{{ post_minutes.video_title }}{% else %}{{ post_minutes.video_url_link }}{% endif %}</a>
             </div>
        {% endif %}

        <!-- ================================================ -->
        {% if post_minutes.video_recording %}
              <div class="blog-entry blockquote mb-40 mt-40">
                <h6>Video Recording</h6>
                <video width="320" height="240" controls>
                  <source src="{% get_media_prefix %}{{ post_minutes.video_recording }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
             </div>
        {% endif %}

        <!-- ================================================ -->
        {% if post_minutes.audio_recording %}
              <div class="blog-entry blockquote mb-40 mt-40">
                <h6>Audio Recording</h6>
                <embed height="150" src="{% get_media_prefix %}{{ post_minutes.audio_recording }}" volume="50" loop="true" controls="console" autostart="false" width="500" PLUGINSPAGE="http://www.apple.com/quicktime/download/win.html"></embed>
             </div>
        {% endif %}

    <!-- ================================================ -->
        {% if post_minutes.pdf %}
              <div class="blog-entry blockquote mb-40 mt-40">
                <li style="list-style: none;"><h6>PDF Download of {{ post_minutes.title }}:   <a href="{% get_media_prefix %}{{ post_minutes.pdf }}" download><img src="/static/pages/images/icon_pdf-black.png" alt="PDF"></a></h6></li>
             </div>
        {% endif %}
     <!-- ================================================ -->
              <div class="blog-entry blockquote mb-40 mt-40">
                <h6>Attendance</h6>
                {% if post_minutes.attendance %}
                  <p>{{ post_minutes.attendance|markdown|linebreaks }}</p>
                {% endif %}

             </div>
    <!-- ================================================ -->
             <div class="blog-entry entry-content mt-20 mb-30 post-1 clearfix">
                 <p>{{ post_minutes.body|markdown|linebreaks }}</p>


              </div>

    <!-- ================================= -->
        </div> <!-- div column 9 -->
<!--=================================
 Blog-->


<!-- ================================================ -->
        <div class="col-lg-3 ">
              <div class="sidebar-widget">
                  <div class="widget-search">
                    <a style="font-size:12px; font-weight:600;" class="button mt-20" href="{% url "minutes:post_search" %}">
                        <span>Search Meeting Minutes</span>
                    </a>
                  </div>
              </div>
              <div class="sidebar-widget">
                 <h6 class="mt-40 mb-20">About the Board</h6>
                 <p>Our club<strong> Board of Directors </strong> are governed under Article VI of our
                 Coyote Lakes Recreation Club Bylaws.  We have nine elected Directors, three of whom
                 serve for a term of one year, three of whom serve for a term of two years, and
                 three of whom serve for a term of three years.  The Board of Directors meet
                 quarterly and the meeting is posted on the Club bulletin board.  The
                 Executive Offices of the Club are President, Vice-President,
                 Treasurer, and Secretary.   </p>
              </div>
            <div class="sidebar-widget">
                <h6 class="mt-40 mb-20">Board of Directors</h6>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/scott_slobe_200.jpeg' %}" alt="Scott Slobe, President">
                  </div>
                 <div class="recent-post-info">
                  <h6>Scott Slobe</h6>
                  <p><strong>President</strong></p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/paul_sk_200.jpg' %}" alt="Paul Skovbroten, Vice-President">
                  </div>
                 <div class="recent-post-info">
                  <h6>Paul Skovbroten</h6>
                  <p><strong>Vice-President</strong></p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/laura_pearson_200.jpg' %}" alt="Laura Pearson, Treasurer">
                  </div>
                 <div class="recent-post-info">
                  <h6>Laura Pearson</h6>
                  <p><strong>Treasurer</strong></p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/paul_groven_200.jpeg' %}" alt="Paul Groven, Secretary">
                  </div>
                 <div class="recent-post-info">
                  <h6>Paul Groven</h6>
                  <p><strong>Secretary</strong></p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/chris_smalley_200.jpeg' %}" alt="Chris Smalley, Director & Entertainment Committee Chairman">
                  </div>
                 <div class="recent-post-info">
                  <h6>Chris Smalley</h6>
                  <p style="font-size:12px;">Direcctor & Entertainment Committee Chairman</p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/jim_morgan_200.jpg' %}" alt="Jim Morgan, Director & Maintenance Committee Chairman">
                  </div>
                 <div class="recent-post-info">
                  <h6>Jim Morgan</h6>
                  <p style="font-size:12px;">Director & Maintenance Committee Chairman</p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/rod_alt_200.jpeg' %}" alt="Rod Alt, Director & Keys">
                  </div>
                 <div class="recent-post-info">
                  <h6>Rod Alt</h6>
                  <p style="font-size:12px;">Director & Keys</p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/laurie_wohlfiel_200.jpg' %}" alt="Laurie Wohlfiel, Assistant Treasurer">
                  </div>
                 <div class="recent-post-info">
                  <h6>Laurie Wohlfiel</h6>
                  <p style="font-size:12px;">Assistant Treasurer</p>
                  <small></small>
                 </div>
                </div>
                <div class="recent-post clearfix">
                  <div class="recent-post-image">
                    <img class="img-fluid" src="{% static 'minutes/images/rob_morgan_200.jpeg' %}" alt="Rob Morgan, Director">
                  </div>
                 <div class="recent-post-info">
                  <h6>Rob Morgan</h6>
                  <p style="font-size:12px;">Director</p>
                  <small></small>
                 </div>
                </div>
            </div>
            <div class="sidebar-widget clearfix">
              <h6 class="mt-40 mb-20">Recent Meetings</h6>
              <ul class="widget-categories">
                {% for post in all_posts_list|slice:":4" %}
                    <li><a style="font-size:small;" href="{{ post.get_absolute_url }}"><i class="fa fa-angle-double-right"></i>{{ post.title }}</a></li>
                {% endfor %}
              </ul>
          </div>

        </div> <!-- col lg 3 -->
<!-- ================================= -->
     </div>
    </div>
  </section>

<!--=================================
 Blog-->

<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
       <div class="action-box-text">
        <h3><strong>Coyote Lakes Recreation Club Bylaws</strong></h3>
      </div>
      <div class="action-box-button">
        <a class="button button-border white" href="{% static 'minutes/files/CYLRCByLaws.pdf' %}" download>
          <span>Download</span>
          <i class="fa fa-download"></i>
       </a>
     </div>
    </div>
  </div>
 </div>
</section>

<!--=================================
action box- -->



{% endblock %}

