{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load minutes_tags %}
{% block title %}Board of Directors{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-red.css' %}" />{% endblock %}

{% block content %}

<!--=================================
page-title-->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/meeting_minutes.jpg' %}); height:150px;">
<!-- <section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/meeting_minutes.jpg' %});"> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>Board Meeting Minutes</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'minutes:post_minutes_list' %}">All Meeting Minutes</a></li>
       </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

<section class="blog white-bg page-section-ptb">
  <div class="container">
    <div class="row">
        <div class="col-lg-9">

                        {% if query %}
                            <h3>Meeting Minutes containing "{{ query }}"</h3>
                            <br>
                            <br>
                            <h4>
                              {% with results.count as total_results %}
                                  Found {{ total_results }} result{{ total_results|pluralize }}...
                              {% endwith %}
                            </h4>
                            <br>
                            <br>
                            {% for post in results %}
                                <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                <p style="margin-left:15px;">{{ post.body|markdown|truncatewords_html:5 }}</p>
                            <div style="text-align:left; margin-left:0px;" class="divider medium"></div>
                                <br>
                                <br>
                            {% empty %}
                              <p>There are no results for your query.</p>
                            {% endfor %}
                            <div class="action-box-button">
                                <a class="button mt-20" href="{% url "minutes:post_search" %}">
                                  <span>Search Again</span>
                                  <i class="fa fa-search"></i>
                               </a>
                            </div>

                        {% else %}
                            <h5><i class="fa fa-search"></i> Search in All Meeting Minutes</h5>
                            <br>
                            <form method="get">
                                    <div class="basic-form--border--round--row">
                                    {% for field in form %}
                                        <div class="field col-lg-12" style="margin-bottom:20px;">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                  {% csrf_token %}
                                  <input class="button mt-20" type="submit" value="Search">
                            </form>
                      {% endif %}

        </div> <!-- col lg 3 -->
<!-- ================================= -->
<!-- ================================= -->
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
