{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load minutes_tags %}
{% block title %}Delete Ad{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-olive.css' %}" />{% endblock %}

{% block content %}

<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'ads/images/ads_1920.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'ads/images/ads_1920.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'ads/images/ads_1920.jpg' %}); height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>Classified Ads</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'ads:all' %}">Classifieds</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

 <!--=================================
 feature -->

 <section class="page-section-ptb">
 <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">

        <h1>Delete Ad</h1>

        <p>Are you sure you want to delete the ad: {{ ad }}?</p>

        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" value="Yes, delete.">
        </form>


   </div>
  </div>
 </div>
</section>

<!--=================================
 feature -->

{% endblock %}
