{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load scheduletags %}
{% block title %}Administrative Panel Manual{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-cyan.css' %}" />

<style>
ol li {
  margin-bottom: 35px;
}
</style>


{% endblock %}

{% block content %}


<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/manual.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/manual.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/manual.jpg' %}); height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>How to Add a User/Member</p>
          <h1>Administrative Panel Manual</h1>

        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

<!-- ==================
Manual -->

<section class="service white-bg mt-80 sm-mt-40">
    <div class="container">
        <li style="list-style: none;"><h6>Admin Manual -- Add a User/Member Downloadable Link:   <a href="/static/pages/images/user/add_new_user.pdf" download><img src="/static/pages/images/icon_pdf-black.png" alt="PDF"></a></h6></li><br><br><br>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                  <h2 class="title-effect">How to Add a User/Member</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-portfolio-post post-2 white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="who-we-are-left port-singal">
                    <div class="col-lg-12 col-md-12">
                        <p>
                            <strong>Background:</strong>
                            The account information for users/members (used interchangeably) is found in at least
                            four different tables in the database (User, Permissions, Userena Registration, and MyProfile).
                            There are more related tables, but these are the main.  For the purposes of adding a user/member,
                            you will work in only one area of the administrative panel because the fields have been placed
                            inline for convenience.  You will be entering information in the “AUTHENTICATION AND AUTHORIZATION”
                            area of the administrative panel in the table, “Users.”  Many fields need to be ignored while
                            others are automatically generated by scripted processes.  One example field that is automatically
                            generated is the Member ID.  It will appear in views/reports about the members.  Other automatically
                            generated fields are the permissions.  Some fields are intended to be left blank by the administrator
                            because the Member will update their own profile and add that information themselves (such as “About me”).
                        </p>
                        <p><strong>Please follow the instructions below, exactly, in order to keep the permissions correct for each user.</strong></p>
                        <ol type="1">
                            <li>
                                 <a href="https://www.coyotelakesrecreationclub.org/accounts/signin/">Log into your account</a>.
                            </li>
                            <li>
                                In the upper right-hand corner, go to your account drop-down menu and choose “Admin Panel”
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/menu.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                In the admin panel, select “Users” under “AUTHENTICATION AND AUTHORIZATION”.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/select_user.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                Select “ADD USER + “ in the upper right-hand corner.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/select_add_user.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                Enter a Username using the following parameters:
                                <ul style="list-style-type: none;">
                                    <li>
                                        <strong>[Last Name] + [.] + [First Two Initials of First Name] + [Street Address Numbers]</strong>
                                    </li>
                                    <li>
                                        Use the user’s last name, a “dot” or “period” symbol, the two first initials of first name, and the street numbers associated with the member’s street address.  It MUST be a dot, not a dash or any other symbol.
                                    </li>
                                    <li>
                                        Example:<br>
                                        For Melauree Housman who lives at 19663 Coyote Lakes Parkway…<br>
                                        <strong>housman.me19663</strong>
                                    </li>
                                    <li>
                                        In the event there are two people in the same household with same first and second initials of first name, go to third initials or more until the username is unique to that household.
                                    </li>
                                    <li>
                                        Example:<br>
                                        For Melauree Housman with a street address of 19663 N Coyote Lakes Parkway with another member in the home named Melvin (went to the fourth letter of the first name)…<br>
                                        <strong>housman.melv19663</strong><br><br>

                                        <div class="col-lg-6 col-md-6">
                                            <img class="img-fluid full-width" src="{% static 'pages/images/user/add_username.png' %}" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Provide a simple temporary password for this user.  Write the password down because you will need it again in another area.  Look at the password requirements:
                                <ul style="list-style-type: none;">
                                    <li>
                                        <ol type="a">

                                            <li>
                                                can’t be too similar to your other personal information.
                                            </li>
                                            <li>
                                                password must contain at least 8 characters.
                                            </li>
                                            <li>
                                                password can't be a commonly used password.
                                            </li>
                                            <li>
                                                password can't be entirely numeric.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        In my example, I chose the password, <strong>televi$ion</strong>
                                    </li>
                                    <li>
                                        Hint:  For temporary passwords, just choose an eight-letter word with an ‘s’ in it and use a dollar sign instead of the ‘s’.  Most people can find the dollar sign easily.  Also, using all lower-case letters just makes it easier for the person to log in for the first time. If you are having trouble thinking of a word, open a magazine or book and shut your eyes and point and add an ‘s’ to make it plural.  Another option is to go to this website to find an 8 letter word with an ‘s’ in it:  <a href="https://en.wikwik.org/c/s/1/8letterwordswiths.htm">https://en.wikwik.org/c/s/1/8letterwordswiths.htm</a>
                                    </li>
                                    <li>
                                        Enter that password twice.  <span style="background-color: #FFFF00">Be sure to remember it by writing it down</span>.
                                    </li>
                                </ul>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/enter_password.png' %}" alt="">
                                </div>
                            </li>
                            <li style="color:Red;">
                                <strong>STOP FILLING OUT BLANKS.  Scroll down to the bottom of the screen and click “save” at the bottom-right-hand side.</strong>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/save_first_time.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                Now, your screen will automatically update to the same user you just created, but there are new blanks that you can fill in, such as First Name, Last Name, and Email Address.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/name.png' %}" alt="">
                                </div>
                                Notice that the password you entered is not recognizable any longer.  It is in a hash format for security reasons.  That’s OK, though, because you wrote it down and you have it handy for the next few parts.
                            </li>
                            <li>
                                Fill out the user’s First Name, Last Name, and Email Address.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/name_and_email.png' %}" alt="">
                                </div>
                            </li>
                            <li style="color:Red;">
                                DO NOT TOUCH A THING in the Permissions area.  Thank you!  No, not any of it.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/permissions.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                No need to do anything in the Important Dates area, either.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/important_dates.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                In the “USERENA REGISTRATION” area, you will change ONE field.  The “Activation Key” field.  This is important because it will activate the appropriate permissions for this user.  Please put <strong>ALREADY_ACTIVATED</strong> in the blank, “Activation key” like this.  It must have all caps and it must have the two words separated with the underscore.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/already_activated.png' %}" alt="">
                                </div>
                                Leave all other blanks in that section alone, please.
                            </li>
                            <li>
                                Now we are in the <strong>“MY PROFILE”</strong> area.
                            </li>
                            <li>
                                <strong>Member Photo.</strong> Ignore the “Member Photo” part.  The person who has this account will be able to upload their own photo.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/member_photo.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                <strong>Privacy.</strong> Privacy is regarding the Member Directory.  Keep the default, Registered, if the person who owns this account will appear in the member directory.  If the person will NOT appear in the member directory, put Closed.  This only applies to the member directory.  It has nothing to do with whether or not the person is a member or not.  It could be that the member just doesn’t want their information in the member directory.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/privacy.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                <strong>Temporary password.</strong> Please put the password you used to add this account (you wrote it down earlier in the instructions) in this blank.  It’s important for this to be accurate because this is how we will be able to tell the new member how to log into their account for the first time.  They can change their own password later.  In the case of my example, I am going to enter <strong>televi$ion</strong> here.  There is a default password as “pa$$word” here.  YOU MUST CHANGE IT to the password you used to add the account.
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid full-width" src="{% static 'pages/images/user/temp_password.png' %}" alt="">
                                </div>
                            </li>
                            <li>
                                <strong>Title.</strong> – Enter only if Dr., Mr., Ms. This field will usually be left blank
                            </li>
                            <li>
                                <strong>Sub title</strong> – Enter if Jr. II, etc. This field will usually be left blank
                            </li>
                            <li>
                                <strong>Cell phone</strong> – Enter user’s cell phone number using format: 5555555555, leave blank if no number.
                            </li>
                            <li>
                                <strong>Other phone</strong> – Enter user’s other phone contact using format: 5555555555, leave blank if no number.
                            </li>
                            <li>
                                <strong>Is active member</strong> – Check box if this user is an active member of the club.  Could be a qualifying home-owner or renter. Usually landlord qualifying home-owner is not an active member. Check if true. Leave blank if false.
                            </li>
                            <li>
                                <strong>Is a member full time resident</strong> – Check this if the active member lives in the Coyote Lakes neighborhood all the months of the year with no other address.
                            </li>
                            <li>
                                <strong>Is a renter member</strong> – Check this is the active member is renting a home owned by a landlord who has transferred their membership to them.
                            </li>
                            <li>
                                <strong>Is a member part time resident</strong> – Check this if the user is an active member who does NOT live in the coyote lakes neighborhood all the months of the year.
                            </li>
                            <li>
                                <strong>Member coyote lakes qualifying address</strong> – Select from dropdown the associated certificate number and qualifying address for this user.  If it is not there, the Certificate person needs to add it to the Certificate area in the administrative panel.  You can go back and add this later if that is the case.
                            </li>
                            <li>
                                <strong>Member part time away address</strong> – This is only filled out if the member lives outside of coyote lakes neighborhood for part of the year.  Put their away address here.
                            </li>
                            <li>
                                <strong>Is a landlord with transferred membership</strong> – Check this box if this person owns a qualifying home with a membership certificate, but has transferred their membership to their renter.  This person should NOT have an “is active member” checked at the top.
                            </li>
                            <li>
                                <strong>Landlord away address</strong> – Only enter if this profile owns a home with a membership, but their renters use the membership.  Leave blank if does not apply.
                            </li>
                            <li>
                                <strong>Is other</strong> – This is checked in the event that the profile person is not a member or landlord.  This person would be a contact person for the club.  The “is active member” box at the top should NOT be checked for this person.
                            </li>
                            <li>
                                <strong>Other contact address</strong> – this address is filled out in the event the box “is other” is checked.
                            </li>
                            <li>
                                <strong>About me</strong> – The user will fill this out for themselves through the site.  Don’t make the mistake of adding administrative notes to this area.  There is a place for that below.
                            </li>
                            <li>
                                <strong>Favorite snack</strong> – The user will fill this out for themselves through the site.
                            </li>
                            <li>
                                <strong>Favorite activity</strong> – The user will fill this out for themselves through the site.
                            </li>
                            <li>
                                <strong>Member notes</strong> – enter any notes regarding the member for administrative purposes only.
                            </li>
                            <li>
                                <strong>Date first entered</strong> – defaults to today.  This blank was for an older table for earlier entries.
                            </li>
                            <li>
                                <strong>Created</strong> – No need to do anything here. It’s automatic.
                            </li>
                            <li>
                                Click save at the bottom-right.
                            </li>
                        </ol>
                        <p style="color:Red;"><strong>Congratulations!  You just added a new member!</strong></p>
                        <p>Now, use the search field at the top of the user table to find your new user to make sure he/she is there.</p>
                        <div class="col-lg-6 col-md-6">
                            <img class="img-fluid full-width" src="{% static 'pages/images/user/end.png' %}" alt="">
                        </div>
                        <p><strong>
                            Suggestion:<br>
                            Add this user to “NEWSLETTER” “Subscriptions” in the Administrative Panel while
                            you are thinking about it so that they get the newsletters.
                            Put them in the “General Newsletter” subscriptions.

                        </strong></p>

                    </div>
                </div> <!-- end who we are left -->
            </div> <!-- end col lg 12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>



{% endblock %}

