{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load scheduletags %}
{% block title %}About: Board Members{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-orange.css' %}" />{% endblock %}
{% block content %}

<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/front_bg.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/front_bg.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'pages/images/bg/front_bg.jpg' %}); height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>About: Our Board Members</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'pages:our_club' %}">About</a><i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'pages:board_members' %}">Board Members</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->


<!--=================================
 our-President -->

<section class="our-team white-bg page-section-ptb">
  <div class="container">
    <div class="row justify-content-center" style="margin-bottom:100px;">
       <div class="col-lg-8">
        <div class="section-title text-center">
            <h6>Meet our Superheros </h6>
            <h2 class="title-effect">Our Board of Directors</h2>
            <p>Dedicated to Coyote Lakes Recreation Club and Its Members</p>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-4">
         <img class="img-fluid full-width" src="{% static 'pages/images/team/bill_ross_430.jpg' %}" alt="Bill Ross">
    </div>
    <div class="col-lg-8 position-relative">
      <div class="team-details">
      <div class="clearfix">
        <div class="title float-start mb-80">
          <h2 class="theme-color">Bill Ross</h2>
          <span>PRESIDENT</span>
          <p><small>Second Term ends Dec 2022.</small></p>
         </div>
        <div class="info mt-40 clearfix">
           <i class="fa fa-quote-left"></i>
           <p><em>Anne and I love Coyote Lakes.  We bought our first home here in 2003 and
           have been rec club members since day one.  It's my privilege to serve as your president.
           I like meeting new residents and club members and we really enjoy the recreation
           facilities and parties.  Please let me know if you have any concerns or ideas
           that will make this rec club more valuable to you! </em></p>
        </div>
      </div>
     </div>
   </div>
  </div>
</section>

<!--=================================
 our-President -->

<!--=================================
 our-Board Members -->

<section class="page-section-ptb">
  <div class="container">
    <div class="team-3" style="margin-bottom:30px;">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/robert_fakkema_430.jpg' %}" alt="Robert Fakkema">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Robert Fakkema</h5>
                             <span>Vice-President</span><br>
                             <p><small>Finishing out Richard Hoffman’s term ending Dec 2021.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/linda_white_430.jpg' %}" alt="Linda White">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Linda White</h5>
                             <span>Treasurer</span><br>
                             <p><small>First Term ends Dec 2022.<br><br></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/betty_peterson_430.jpg' %}" alt="Betty Peterson">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Betty Peterson</h5>
                             <span>Secretary</span><br>
                             <p><small>First term ends Dec 2023.<br><br></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/monica_hall_430.jpg' %}" alt="Monica Hall">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Monica Hall</h5>
                             <span>Entertainment Committee Chairman</span><br>
                             <p><small>Second Term ends Dec 2023.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end div class row -->
    </div> <!-- end div team3 -->

    <div class="team-3" style="margin-bottom:30px;">
        <div class="row">
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/joe_bohr_430.jpg' %}" alt="Joe Bohr">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Joe Bohr</h5>
                             <span>Maintenance Committee Chairman</span><br>
                             <p><small>First Term ends Dec 2022.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/jeff_mccown_430.jpg' %}" alt="Jeff McCown">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Jeff McCown</h5>
                             <span>Member at Large</span><br>
                             <p><small>First term ends Dec 2023.   Duties include Keys, Rentals and Badges.</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/jim_sherbert_430.jpg' %}" alt="Jim Sherbert">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Jim Sherbert</h5>
                             <span>Member at Large</span><br>
                             <p><small>First term ends Dec 2021.<br><br></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-mb-30">
                <div class="team team-round full-border">
                    <div class="team-photo">
                        <img class="img-fluid mx-auto" src="{% static 'pages/images/team/brad_430.jpg' %}" alt="Brad Franz">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                             <h5 class="theme-color">Brad Franz</h5>
                             <span>Member at Large</span><br>
                             <p><small>Finishing out Mary Bolender’s 1st Term ends Dec 2021.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end div class row -->
    </div> <!-- end div team3 -->
  </div> <!-- div container -->
</section>

<!--=================================
 our-Board Members -->


<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12 position-relative">
       <div class="action-box-text">
        <h3><strong>Coyote Lakes Recreation Club:</strong>  YOUR Club</h3>
        <p>If you are logged in as a member, you can view our board meeting minutes.</p>
      </div>
      <div class="action-box-button">
        <a class="button button-border white" href="{% url 'minutes:post_minutes_list' %}">
          <span>Board Meeting Minutes</span>
          <i class="fa fa-folder"></i>
       </a>
     </div>
    </div>
  </div>
 </div>
</section>

<!--=================================
action box- -->

{% endblock %}
