{% extends "sitebase.html" %}
{% load static %}
{% load sass_tags %}
{% load scheduletags %}
{% load tag_library %}
{% load humanize %}
{% load phone %}
{% block title %}RSVP{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-default.css' %}" />{% endblock %}


{% block content %}

{% include "pages/page_title.html" %}



 <!--=================================
 RSVP-->

<section class="page-section-ptb">
    <div class="container mt-150">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 col-sm-6">

                <table style="width:100%">
                  <tr>
                    <td><h6>Are you sure you want to change your mind?</h6><br><br></td>
                  </tr>
                  <tr>
                    <td>
                        <form action="" method="POST">
                          {% csrf_token %}
                          &nbsp;&nbsp;<input type="submit"  class="btn btn-primary" value="Yes, I'm sure.">
                          &nbsp;&nbsp;<a href="{% url 'pages:rsvp_detail' memberrsvp.occurrence.id %}" class="btn btn-secondary">No, go back.</a>
                        </form>
                    </td>
                  </tr>
                </table>
            </div>


        </div>
    </div>
</section>
  <!-- ======================================= -->

{% endblock %}