{% extends "base_nav.html" %}
{% load static %}
{% load sass_tags %}
{% load minutes_tags %}
{% block title %}Message Sent{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'pages/css/skins/skin-persian-green.css' %}" />{% endblock %}

{% block content %}

<!--=================================
page-title-->
<!-- <section class="slider-parallax business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'contact/images/contact_1920.jpg' %});"> -->
<!-- <section class="slider-parallax typer-banner business bg-overlay-black-30 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'contact/images/contact_1920.jpg' %});"> -->
<section class="page-title bg-overlay-black-30 slider-parallax" data-jarallax='{"speed": 0.6}' style="background-image: url({% static 'contact/images/contact_1920.jpg' %}); height:150px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <p>Coyote Lakes Recreation Club</p>
          <h1>Message Sent</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="{% url 'pages:home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="{% url 'public_form' %}">Contact</a></li>
          </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->

 <!--=================================
contact form -->

 <section class="page-section-ptb">
 <div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5">
      <h4>Thank you for your message!</h4>
      <p>We will contact you soon.</p>


   </div>
  </div>
 </div>
</section>

<!--=================================
 contact form -->



{% endblock %}
