{% load scheduletags %}
                        <table class= "table table-bordered table-3 text-center table-striped col-md-2">
                        <!-- <table class="table table-striped" style="margin-left:20px;"> -->
                            {% for slot in slots %}
                            <tr>
                            <td class="col-md-1" style="max-width:80px;">
                              <span class="time">{{ slot.start|time:"g:i a" }}</span>
                              {% if addable %}
                              {% create_event_url calendar slot.start %}
                              {% endif %}
                            </td>
                            <td class="col-md-4" style="min-width:200px;">
                              {% for occ in slot.occurrences %}
                                    <div class="eventcalendar event" style="  flex: 0 0 auto;font-size: 13px;border-radius: 4px;
                                                                        	padding: 5px;
                                                                        	margin-bottom: 5px;
                                                                        	line-height: 14px;
                                                                        	background: #F0F8FF;
                                                                        	border: 1px solid #ADD8E6;
                                                                        	color: #009aaf;
                                                                        	text-decoration: none;">
                                    <!-- <button type="button" style="font-size:12px;"  class="btn {% if occ.cancelled %} btn-danger {%else%} btn-primary {% endif %}" data-toggle="modal" data-target="#{% hash_occurrence occ %}" {% if occ.event.color_event %} style="background-color: {{occ.event.color_event}};border-color:{{occ.event.color_event}}" {% endif %}> -->
                                            <div class="eventcalendar event-desc" style="	color: #666;
                                                                        	margin: 3px 0 7px 0;
                                                                        	text-decoration: none;">
                                              {% options occ %}
                                              {% title occ %}
                                            </div>
                                    <!-- </button> -->
                                    </div>

                              {% endfor %}
                            </td>
                          </tr>
                            {% endfor %}
                        </table>
