{% load scheduletags %}
                        <table class="table table-bordered table-3 text-center table-striped clrc-daily-table">
                        <!-- <table class="table table-striped" style="margin-left:20px;"> -->
                            {% for slot in slots %}
                            <tr>
                            <td class="col-md-1">
                              <span class="time">{{ slot.start|time:"g:i a" }}</span>
                              {% if addable %}
                              {% create_event_url calendar slot.start %}
                              {% endif %}
                            </td>
                            <td class="col-md-4">
                              {% for occ in slot.occurrences %}
                                    <div class="eventcalendar event clrc-event-card">
                                    <!-- <button type="button" style="font-size:12px;"  class="btn {% if occ.cancelled %} btn-danger {%else%} btn-primary {% endif %}" data-toggle="modal" data-target="#{% hash_occurrence occ %}" {% if occ.event.color_event %} style="background-color: {{occ.event.color_event}};border-color:{{occ.event.color_event}}" {% endif %}> -->
                                            <div class="eventcalendar event-desc">
                                              {% options occ %}
                                              {% title occ %}
                                            </div>
                                    <!-- </button> -->
                                    </div>

                              {% endfor %}
                            </td>
                          </tr>
                            {% endfor %}
                        </table>
