{% load i18n %}
{% load scheduletags %}
                                <div class="event clrc-event-detail">
                                    <h4><strong>{{occurrence.title}}</strong></h4>
                                    <table>
                                        <tr>
                                            <td class="left"><strong>{% trans "Starts" %}</strong></td>
                                            <td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
                                        </tr>
                                        <tr>
                                            <td class="left"><strong>{% trans "Ends" %}</strong></td>
                                            <td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                                        </tr>
                                        {% if occurrence.event.rule %}
                                            {% if not occurrence.id %}
                                                <tr>
                                                    <td class="left"><strong>{% trans "Reoccurs:" %}</strong></td><td>&nbsp</td>
                                                </tr>
                                                {% if occurrence.event.end_recurring_period %}
                                                    <tr>
                                                        <td class="left">{% trans "Until" %}</td>
                                                        <td>{% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </table>
                                    {% if occurrence.description %}
                                        <br>
                                        <h5><strong>{% trans "Description:" %}</strong></h5>
                                        <p>{{ occurrence.description|markdown }}</p>

                                    {% endif %}

                                </div>
