{% extends "sitebasesched.html" %}
{% load scheduletags i18n %}
{% load static %}
{% load sass_tags %}
{% block head_title %}{% trans "Day Calendar" %}{% endblock %}

{% block body %}
{% include "schedule/page_title.html" %}
{% include "schedule/_dialogs.html" %}
    <section class="page-section-ptb clrc-calendar-page">
      <div class="container clrc-calendar-shell">
        <div class="row">
           <div class="col-12">
              <div class="clrc-calendar-card">
                {% include "schedule/_calendar_view_tabs.html" with active_view="day" %}
                <h3 class="clrc-period-heading">{% prevnext_day "day_calendar" calendar period "l, F d, Y" %}</h3>
                  <div class="clrc-calendar-scroll">
                      {% daily_table period %}
                  </div>
              </div>
           </div> <!-- end col 12 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section>


{% endblock %}
