{% extends "sitebasesched.html" %}
{% load scheduletags i18n %}
{% load sass_tags %}
{% load static %}
{% block head_title %}{% trans "Week Calendar" %}{% endblock %}

{% block body %}
{% include "schedule/page_title.html" %}
{% include "schedule/_dialogs.html" %}
    <section class="page-section-ptb">
      <div class="container">
        <div class="row">
           <div class="col-12">
                <div class="col-lg-12 col-md-12 mt-150">
                   <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url "day_calendar" calendar.slug %}">Today</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="{% url "week_calendar" calendar.slug %}">This Week</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url "month_calendar" calendar.slug %}"><i class="fa fa-print"></i> This Month</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url "tri_month_calendar" calendar.slug %}">Before/After Months</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url "year_calendar" calendar.slug %}">This Year</a>
                        </li>
                      </ul>
                </div>

                <div class="row row-centered">
                    <div style="text-align:center; margin:30px;"><h3>{% prevnext_week "week_calendar" calendar period "\W\e\ek W, M Y" %}</h3></div>
                </div>

                <div class="row row-centered">
                  {% for day in period.get_days %}
                    <div class="col-md-3">
                      <div class="row row-centered">
                        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}" style="margin-left:20px;">
                          {{day.start|date:"l, d"}}
                        </a>
                      </div>

                          {% if forloop.first %}
                              {% daily_table day %}
                          {% else %}
                              {% daily_table day %}
                          {% endif %}

                    </div>
                  {% endfor %}
                </div>
           </div> <!-- end col 12 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section>

{% endblock %}
