{% extends "sitebasesched.html" %}
{% load scheduletags i18n %}
{% load sass_tags %}
{% load scheduletags %}
{% load static %}
{% block head %}
    {% block head_title %}{% trans "Month Calendar" %}{% endblock %}

    <!-- jquery -->
        <script src="{% static 'pages/js/jquery-3.6.0.min.js' %}"></script>

{% endblock %}


{% block body %}
{% include "schedule/page_title.html" %}
{% include "schedule/_dialogs.html" %}
    <section class="page-section-ptb clrc-calendar-page">
      <div class="container clrc-calendar-shell">
        {% include "schedule/_calendar_view_tabs.html" with active_view="month" %}
        <div class="row row-centered">
              <!-- <div class="calendarname">{{ calendar.name }}</div> -->
                <div class="col-12">
                    <div class="clrc-calendar-card">
                        <h3 class="clrc-period-heading clrc-screen-print-hidden">{% prevnext "month_calendar" calendar period "F Y"%}</h3>
                        <div class="clrc-month-jump clrc-screen-print-hidden">
                            <label for="clrc-month-jump">Jump to month</label>
                            <select id="clrc-month-jump" data-calendar-url="{% url 'month_calendar' calendar.slug %}" data-year="{{ period.start|date:'Y' }}" data-month="{{ period.start|date:'n' }}"></select>
                        </div>
                        <div class="clrc-calendar-actions">
                            <button class="clrc-calendar-button" onClick="window.print()">Print or Save Month as PDF</button>
                        </div>
                        <div id="printableArea">
                            <div class="clrc-print-heading">
                                <div class="clrc-print-club">Coyote Lakes Recreation Club</div>
                                <div class="clrc-print-month">{{ period.start|date:"F Y" }}</div>
                            </div>
                            <div class="clrc-calendar-scroll">
                                {% month_table calendar period "regular" %}
                            </div>
                        </div>
                    </div>
                </div>

        </div>
      </div>
    </section>
{% endblock %}
