{% load static %}
{% load sass_tags %}

                <footer id="footer-fixed" class="footer black-bg">
                 <div class="page-section-pt">
                 <div class="container">
                  <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6 sm-mb-30">
                      <div class="footer-logo">
                        <img id="logo-footer" class="mb-20" src="{% static 'pages/images/footer_logo.png' %}" alt="">
                        <p class="pb-10"> Resident-owned recreation club in Surprise,
                                            Arizona's Coyote Lakes neighborhood where members can enjoy full access to
                                            facilities to include swimming, tennis, outdoor grill area, pickle ball, and events.</p>
                      </div>
                       <div class="social-icons color-hover">
                         <ul>
                          <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
                          <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                         </ul>
                       </div>
                  </div>
                      <div class="col-lg-2 col-md-6 col-sm-6 sm-mb-30">
                      <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
                        <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Activities</a></li>
                          <li><a href="#">Calendar</a></li>
                          <li><a href="#">News</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 xs-mb-30">
                      <div class="footer-useful-link footer-hedding">
                        <h6 class="text-white mb-30 mt-10 text-uppercase">Your Account</h6>
                        <ul>
                          <li><a href="#">Login</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                    <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
                    <ul class="addresss-info">
                        <li><i class="fa fa-map-marker"></i> <p>Location Address:<br>
                        <a href="https://www.google.com/maps/place/Coyote+Lakes+Recreation+Club/@33.6551451,-112.3086419,19z/data=!4m5!3m4!1s0x872b5ccac937c0bf:0x360c7766549223a2!8m2!3d33.6552866!4d-112.308583">
                            18860 N Coyote Lakes Pkwy, Surprise, AZ 85378</a></p> </li>
                        <li><i class="fa fa-map-marker"></i> <p>Mailing Address:<br>PO Box 1766, Surprise, AZ 85378</p> </li>
                        <li><i class="fa fa-envelope-o"></i>Email: <a href="mailto:info@cylrc.org">info@cylrc.org</a></li>
                      </ul>
                    </div>
                   </div>
                     <div class="footer-widget mt-20">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <small class="mt-15" style="color:LightGrey"> &copy;Copyright <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span> <a href="https://www.coyotelakesrecreationclub.org"><small>&nbsp&nbspCoyote Lakes Recreation Club</small> </a>
                        &nbsp&nbsp&nbsp&nbspSite by <a href="https://www.webfairydesign.com"><small>Webfairy Design</small> </a>
                        </small>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                </footer>
